@font-face {
  font-family: "Sligoil";
  src:
    url("../fonts/sligoil-micro.woff2") format("woff2"),
    url("../fonts/sligoil-micro.woff") format("woff");
  font-display: swap;
}

:root {
  --color-fg: #000;
  --color-bg: #feecec;
  --color-selection: var(--color-bg);
  --color-selection-bg: var(--color-fg);
  --font: 2em/1.7 var(--font-family);
  --font-family: 'Sligoil', Helvetica, Arial, sans-serif;
  scrollbar-color: var(--color-fg) var(--color-bg);
  scrollbar-width: thin;
  scroll-behavior: smooth;
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-fg: #ddd;
    --color-bg: #000;
    --color-selection: var(--color-bg);
    --color-selection-bg: #ddd;
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  color: var(--color-fg);
  background: var(--color-bg);
  font: var(--font);
  overflow-x: hidden;
  max-width: 1920px;
  margin: 0 auto;
}

body {
  padding: 1em;
}

header {
  font-size: 1.5em;
  min-height: 86vh;
  margin-bottom: 15px;
}

footer {
  font-size: 80%;
  opacity: 80%;
}

a, a:visited, a:active {
  color: var(--color-fg);
  text-decoration: underline;
  transition: .3s;
}

a:hover {
  color: var(--color-selection);
  background: var(--color-selection-bg);
  text-decoration: none;
  transition: .3s;
}

::selection {
  color: var(--color-selection);
  background: var(--color-selection-bg);
}

@media (max-width: 595px) {
  :root {
    --font: 1.7em/1.7 var(--font-family);
  }
  header {
    min-height: 100vh;
  }
}